<div class="row justify-space-between parent">
<div class="col-md-3 child"*ngFor="let item of components;let i=index;">
  <div >
  <div >
    <h5>{{item?.mission_name}}#{{i +1}}</h5>
    <img src="{{item?.links?.mission_patch_small}}"alt="IMAGE"><br>
    <ng-container *ngIf="item?.mission_id && item.mission_id.length">
        <b>Mission Ids:</b>
          <ul *ngFor=" let mission of item?.mission_id">
            <li>{{mission}}</li>
          </ul>
    </ng-container>
    <div>
        <b>Launch Year: </b>{{item?.launch_year}}
    </div>
    <div>
        <b>Successful Launch: </b>{{item?.launch_success}}
      </div>
      <div>
        <b>Successful Landing: </b>{{item?.rocket?.first_stage?.cores[0]['land_success']? item?.rocket?.first_stage?.cores[0]['land_success']:'false'}}
      </div>
  </div>
  </div>
</div>
</div>
